<footer>
   <p>&copy; Coding Ninjas. All Rights Reserved</p>
   <ul>
       <li>
           <a href="/">Home</a>
       </li>
       <li>
        <a href="/user/profile">Profile</a>
    </li>
   </ul>
</footer>