footer {
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  color: white; }
  footer ul {
    list-style: none;
    margin-left: -24px; }
    footer ul li a {
      text-decoration: none;
      color: white; }
