header {
  display: flex;
  justify-content: space-between;
  background-color: blue; }
  header ul {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    text-transform: capitalize; }
    header ul li {
      margin-right: 10px; }
      header ul li a {
        text-decoration: none; }
